<!-- NgClass nos permite aplicar una o otra clase del html a traves de la condicion boolean
    En este caso nos mostrará el color rojo o gris, amarillo o gris, y verde o gris
    por defecto esta todo en gris-->

<div class="d-flex align-items-center flex-column mb-3 bg-dark semaforo">
  <div class="mb-2 light red" (click)="enviarColor()" [ngClass]="currentColor === 'rojo' ? 'red active' : 'gris'"></div>
  <div class="light amarillo" (click)="enviarColor()" [ngClass]="currentColor === 'amarillo' ? 'amarillo active' : 'gris'"></div>
  <div class="mt-2 light verde" (click)="enviarColor()" [ngClass]="currentColor === 'verde' ? 'verde active' : 'gris'"></div>
</div>
